body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: #F8F8FF;
  color: #000000;
}

table, tr, td, th {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 2px;
}

.list_table {
  border-collapse: collapse;
  //border: 1px solid #888888;
}

.list_table td {
  padding: 5px;
  border-collapse: collapse;
  //border: 1px solid #888888;
}

.bordered_table0 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  align: center;
  border-color: #bdbdbd;
  border-style: solid;
  border-top-width: 1;
  border-bottom-width: 1;
  border-right-width: 1;
  border-left-width: 1;
  background-color: #F9F9F9;
}

.grayboxheader td{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #7E7D7E;
  text-align: center;
  padding: 0px;
}

.whitebox {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  background-color: #DDEEFF;
  padding: 2px;
}

.indented_cell {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.copyright {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #000000;
  text-align: center;
}

//.example {font-size:smaller; font-style:italic; font-weight:normal;}
.example {font-size:11px; color:#778888; font-weight:normal;}
.survey_desc {font-size:13px; fontt-weight:normal; margin-left: 15px;}
.message {color:blue; font-weight:bold; text-align:center}
//.error {color:red; font-weight:bold; text-align:center}


.grayboxfont {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #424142;
}

.question {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #262C4C;
}

.percentage {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
}

.error {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #CB0404;
}

a:link {
  text-decoration:none;
  color: black;
}
a:visited {
  text-decoration:none;
  color: #777777;
}
a:hover {
  text-decoration:underline;
  color: #333333;
}

/*region table*/
.regionheader {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #FFFF55;
  color: #5555FF;
}

.regionitemarea {
  width: 100%;
  margin-top: 2px;
}

.list_table2 {
  align: center;
  border-collapse: collapse;
  width: 100%;
}

.list_table2 td {
  padding: 5px;
  border-collapse: collapse;
}

.div_title{
  font-size: 16px;
  font-weight: bold;
  text-align:center;
  background-color:#EEEEFF
}

/* for IE9 */
.gradient {
       filter: none;
}

.headerlayout {
  float: none;
  width: 775px;
  border: 1px solid #DD9955;
  margin-bottom: 5px;
  background: #fefcea; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmNlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWRhMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* IE10+ */
  background: linear-gradient(top, #fefcea 0%,#f1da36 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-8 */
  /* round corner */
  -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3+, Chrome */
  border-radius: 12px; /* Opera 10.5, IE 9 */
}

.site-title {
  text-align: center;
  font-size: 64px;
  font-family: 標楷體;
  color: #F55;
  text-shadow: 3px 3px 5px #777
}

.site-subtitle {
  text-align: center;
  font-size: 15px;
  color: #55F;  
}

.menulayout {
  float: left;
  width: 150px;
  padding: 5px;
  border-color: #bdbdbd;
  border-style: solid;
  border-top-width: 1;
  border-bottom-width: 1;
  border-right-width: 1;
  border-left-width: 1;  
}

.menuitem {
  font-size:16px;
  line-height:150%;
  color: #555599;
}

.mainarea {
  width: 600px;
  margin-left: 5px;
  float:left;
  padding: 5px;
  border: 1px solid #888888;
}

.latest-new {
  color:red;
  float:left;
  margin-left:10px;
  text-align:right;
}

.latest-update {
  color:blue;
  float:left;
  margin-left:10px;
  text-align:right;
}

.latest-date {
  font-size: 14px;
  font-weight: bold;
  background-color: #EEF5FF;
  padding: 2px;
}