body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: #F8F8FF;
  color: #000000;
}

table, tr, td, th {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 2px;
  align: center;
}

.list_table {
  align: center;
  border-collapse: collapse;
  //border: 1px solid #888888;
}

.list_table td {
  padding: 5px;
  border-collapse: collapse;
  //border: 1px solid #888888;
}

.bordered_table0 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  align: center;
  border-color: #bdbdbd;
  border-style: solid;
  border-top-width: 1;
  border-bottom-width: 1;
  border-right-width: 1;
  border-left-width: 1;
  background-color: #F9F9F9;
}

.grayboxheader {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #7E7D7E;
  text-align: center;
}

.whitebox {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  background-color: #DDEEFF;
  padding: 2px;
}

.indented_cell {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.copyright {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #000000;
  text-align: center;
}

//.example {font-size:smaller; font-style:italic; font-weight:normal;}
.example {font-size:11px; color:#778888; font-weight:normal;}
.survey_desc {font-size:13px; fontt-weight:normal; margin-left: 15px;}
.message {color:blue; font-weight:bold; text-align:center}
//.error {color:red; font-weight:bold; text-align:center}


.grayboxfont {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #424142;
}

.question {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #262C4C;
}

.percentage {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
}

.error {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #CB0404;
}

a:link {
  text-decoration:none;
  color: black;
}
a:visited {
  text-decoration:none;
  color: #777777;
}
a:hover {
  text-decoration:underline;
  color: #333333;
}

/*region table*/
.regionheader {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #FFFF55;
  color: #5555FF;
}

.regionitemarea {
  width: 100%;
  margin-top: 2px;
}

.list_table2 {
  align: center;
  border-collapse: collapse;
  width: 100%;
}

.list_table2 td {
  padding: 5px;
  border-collapse: collapse;
}

.div_title{
  font-size: 16px;
  font-weight: bold;
  text-align:center;
  background-color:#EEEEFF
}

.menulayout {
  float: left;
  width: 150px;
  padding: 5px;
  border-color: #bdbdbd;
  border-style: solid;
  border-top-width: 1;
  border-bottom-width: 1;
  border-right-width: 1;
  border-left-width: 1;  
}

.menuitem {
  font-size:16px;
  line-height:150%;
  color: #555599;
}

.mainarea {
  width: 600px;
  margin-left: 5px;
  float:left;
  padding: 5px;
  border: 1px solid #888888;
}

.latest-new {
  color:red;
  float:left;
  margin-left:10px;
  text-align:right;
}

.latest-update {
  color:blue;
  float:left;
  margin-left:10px;
  text-align:right;
}

.latest-date {
  font-size: 14px;
  font-weight: bold;
  background-color: #EEF5FF;
  padding: 2px;
}